provider:
  api_key: {{ env.MODEL_API_KEY }}
  base_url: {{ env.MODEL_BASE_URL }}

context_builder:
    name: 'Context Builder'
    model: {{ env.CONTEXT_BUILDER_MODEL }}
    is_task_agent: false
    model_settings:
        temperature: {{ env.CONTEXT_BUILDER_TEMPERATURE }}
        max_tokens: {{ env.CONTEXT_BUILDER_MAX_TOKENS }}


planner:
    name: 'Planner'
    model: {{ env.PLANNER_MODEL }}
    is_task_agent: false
    model_settings:
        temperature: {{ env.PLANNER_TEMPERATURE }}
        max_tokens: {{ env.PLANNER_MAX_TOKENS }}

researcher:
    name: 'Researcher'
    model: {{ env.RESEARCHER_MODEL }}
    model_settings:
        temperature: {{ env.RESEARCHER_TEMPERATURE }}
        max_tokens: {{ env.RESEARCHER_MAX_TOKENS }}

extractor:
    name: 'Extractor'
    model: {{ env.EXTRACTOR_MODEL }}
    model_settings:
        temperature: {{ env.EXTRACTOR_TEMPERATURE }}
        max_tokens: {{ env.EXTRACTOR_MAX_TOKENS }}

analyzer:
    name: 'Analyzer'
    model: {{ env.ANALYZER_MODEL }}
    model_settings:
        temperature: {{ env.ANALYZER_TEMPERATURE }}
        max_tokens: {{ env.ANALYZER_MAX_TOKENS }}

writer:
    name: 'Writer'
    model: {{ env.WRITER_MODEL }}
    model_settings:
        temperature: {{ env.WRITER_TEMPERATURE }}
        max_tokens: {{ env.WRITER_MAX_TOKENS }}

editor:
    name: 'Editor'
    model: {{ env.EDITOR_MODEL }}
    model_settings:
        temperature: {{ env.EDITOR_TEMPERATURE }}
        max_tokens: {{ env.EDITOR_MAX_TOKENS }}

evaluator:
    name: 'Evaluator'
    model: {{ env.EVALUATOR_MODEL }}
    model_settings:
        temperature: {{ env.EVALUATOR_TEMPERATURE }}
        max_tokens: {{ env.EVALUATOR_MAX_TOKENS }}
